body {
    margin: 0;
    height: 100vh;
    background-image: url('assets/cat-pics/hoh.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30vh;
    width: 40%;
    margin: auto;
}

#cooltext {
    flex-basis: 100%;
    max-width: 100%;
}

#subtext {
    color: darkgrey;
    font-family: 'Comic Sans MS';
    text-align: center;
    font-size: 30px;
}