@font-face {
    font-family: "JBMonoNF";
    src: url("https://codehs.com/uploads/5ed921fe6aaa521ab4971d92e3a69f77");
}


* {
    font-family: "JBMonoNF";
}
html{ 
    background-image: url("assets/forest-rain.png");
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}


#test {
    border: 3px solid rgb(198, 160, 246);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    text-color: white;
}
